<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Error page for 404 (Not Found) -->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>

    <!-- Error page for 405 (Method Not Allowed) -->
    <error-page>
        <error-code>405</error-code>
        <location>/customError.jsp</location>
    </error-page>

    <!-- Error page for 500 (Internal Server Error) -->
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>

    <!-- Error page for any other errors -->
    <error-page>
        <location>/customError.jsp</location>
    </error-page>

</web-app>
